.page
{
	width: 700px;
	height: 1000px;
}
.inner_header
{
	width: 1350px;
	height: 80px;
	display: block;
	border-style: solid;
	margin:10 auto;
	background-color:black ;
	border-width: 2px;

}
.inner_header h1
{
	color: white;
	
	height:80px;
	display: table-cell;
	vertical-align: middle;
	align-content: middle;
	font-size: 40px;
	font-weight: 900;
	font-style: italic;
}
.navbar {
  overflow: hidden;
  background-color: #003366 ;
  height:35px;
  font-family: Arial;
  width:1350px;
  margin-top: 5px;
  border-style: groove;
  font-style: italic;
  border-width: 2px;
}
.navbar a {
  float: left;
  font-size: 25px;
  font-weight: 4px;
  color:white;  ;
  text-align: center;

  padding: 5px 10px;
  text-decoration: none;
}
.ACCOUNT,.QUESTIONS,.EXAM{
  float: left;
  overflow: hidden;
  font-style: italic;
}
.ACCOUNT .accountbtn ,.QUESTIONS .questionsbtn,.EXAM .exambtn{
  font-size: 25px;
  border: none;
  outline: none;
  color: white ;
  padding: 5px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .ACCOUNT:hover .accountbtn, .QUESTIONS:hover .questionsbtn,.EXAM:hover .exambtn {
  background-color: black;
  color:white;
}


.ACCOUNT-content , .QUESTIONS-content,.EXAM-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}
.ACCOUNT-content a,.QUESTIONS-content a,.EXAM-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.ACCOUNT-content a:hover  .QUESTIONS-content a:hover  .EXAM-content a:hover {
  background-color: blue;
}

.ACCOUNT:hover .ACCOUNT-content ,.QUESTIONS:hover .QUESTIONS-content,.EXAM:hover .EXAM-content {
  display: block;
}